.nav-container {
	// height: 10vh;
	// background-color: pink;
	// position: relative;
	width: 15rem;
	display: flex;
	justify-content: flex-end;
}

// .nav-links {
// 	// display: none;
// 	// position: absolute;
// 	// margin-right: auto;
// 	// 	right: 3%;
// 	display: flex;
// 	list-style: none;
// 	width: 30rem;
// 	// background: $primaryColor;
// 	height: 10rem;
// 	justify-content: space-around;
// 	align-items: center;
// 	flex-direction: column;
// 	// clip-path: circle(10rem at 90% -10);
// 	// -webkit-clip-path: circle(10rem at 90% -10);
// 	// 	transition: all 1s ease-out;
// }
// .nav-links.open {
// 	// clip-path: circle(100rem at 90% -10);
// 	// -webkit-clip-path: circle(100rem at 90% -10);
// }

// .nav-links li a {
// 	// display: none;
// 	color: white;
// 	text-decoration: none;
// }
// .nav-links li {
// 	opacity: 1;
// }
